body {
    background: #111;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#webcam {
    width: 700px;
    border: 3px solid #00ff88;
    border-radius: 10px;
}